<div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <div class="mySlides fade">
            <div class="SlideContent">
                   <div class="slider-fleft">
                        <img src={{include.url1}} >
                   </div>
                   <div class="slider-fright">
                       <h1>{{include.1h1}}</h1>
                       <p>{{include.p1}}</p>
                   </div>
                </div>
        </div>
      
        <div class="mySlides fade">
                <div class="SlideContent">
                        <div class="slider-fleft">
                             <img src={{include.url2}} >
                        </div>
                        <div class="slider-fright">
                            <h1>{{include.2h1}}</h1>
                            <p>{{include.p2}}</p>
                        </div>
                     </div>
        </div>
      
        <div class="mySlides fade">
                <div class="SlideContent">
                        <div class="slider-fleft">
                             <img src={{include.url3}} >
                        </div>
                        <div class="slider-fright">
                            <h1>{{include.3h1}}</h1>
                            <p>{{include.p3}}</p>
                        </div>
                     </div>
        </div>
       <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <script src="/assets/scripts/slider.js"></script>

