header{
    margin-right: 25%;
    margin-left: 25%;
    top: 5px;
    position: relative;
    height: 60px;
    
    
    border-radius: 80px;
    border: 5px outset #A49B29;
    //To make everything in Nav Centered
    text-align: center;
  
    
    .nav-bkg{
        //allt är gjort för att få den hamna som background på Divven
        //det ger mig möjligheten att 
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        left:0;
        top:0;
        background-color:black;
        opacity: 0.4;
        border-radius: 25px;
    }
   .nav{
       position: relative;
       top:24%;
       width: 100%;
                a{
                    font-size: 20px;
                    height: 25px;
                    color: white;
                    padding: 10px;
                    text-decoration: none;
                }
            
        }
   }

header:hover{
    transition: ease-in-out 0.5s;
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}


@media only screen and (max-width: 768px) {
    header{
        margin-right: 1%;
        margin-left:1%;
        border: 2px outset #A49B29;
    }
  
  }